<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{% if page.title %}
  <title>{{ page.title }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="mask-icon" href="{{ site.url }}/assets/flash.svg" color="#000000">
<link rel="apple-touch-icon" href="/assets/touch-icon.png">
<link rel="icon" href="/assets/touch-icon.png" type="image/png">

<link href="//fonts.googleapis.com" rel="preconnect" crossorigin>

{% feed_meta %}

<link rel="stylesheet" type="text/css" href="/assets/development.css">

{% if page.url == '/404.html' %}
  <script async src="/assets/redirect.js"></script>
{% endif %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
